<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.mapper.UserMapper">

    <sql id="base_column">
      username, password, phone, address
    </sql>

    <sql id="condition">
        <where>
            <if test="username != null and username != ''">
                AND username LIKE '%${username}%'
            </if>
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            <if test="address != null and address != ''">
                AND address = #{address}
            </if>
        </where>
    </sql>

    <insert id="addUser" parameterType="com.jing.pojo.User">
        INSERT INTO user VALUES (NULL, #{username}, #{password}, #{phone}, #{address})
    </insert>

    <delete id="removeUser" parameterType="com.jing.pojo.User">
        DELETE FROM user
        <include refid="condition"/>
    </delete>

    <update id="modifyUser" parameterType="com.jing.pojo.User">
        UPDATE user SET
        username = #{username},
        password = #{password},
        phone = #{phone},
        address = #{address}
        WHERE id  = #{id}
    </update>

    <select id="findUser" parameterType="com.jing.pojo.User" resultType="com.jing.pojo.User">
        SELECT
        <include refid="base_column"/>
        FROM user
        <include refid="condition"/>
    </select>
</mapper>